.Header{
    position: relative;
    border: none;
}

.SearchInput{
    width: 75%;
    border: 1px solid #cdcdcd20;
    padding: 1%;
    border-radius: 10px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

.NewButton{
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 0.5rem;
    width: 50px;
    background: forestgreen;
    height: 32px;
}

.MyData{
    width: 98%;
    position: relative;
    height: 100px;
    background: #cdcdcd10;
    left: 1%;
    border-radius: 10px;
}

.MyContacts{
    top: 25%;
    overflow-y: auto;
    width: 98%;
    left: 1%;
    bottom: 10px;
    background: #cdcdcd10;
    border-radius: 5px;
}

.Input{
    border: 1px solid #cdcdcd20;
    border-radius: 10px;
    padding: 1%;
    left: 0.8%;
}