.AppLogo{
    width: 50%;
}

.HomeDivHolder{
    background: transparent;
    bottom: 50px;
    overflow-y: auto;
}

.Deposit{
    background: green;
    padding: 3.5%;
    border-radius: 100px;
}

.WelcomeNote{
    text-align: left;
    font-size: 20px;
    margin-left: 1rem;
}

.Holders{
    position: relative;
    height: 60px;
    width: 95%;
    left: 2%;
    border-radius: 0px;
    display: inline-flex;
    background: transparent;
    border-bottom: 1px solid teal;
}

.BalanceAmount{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    color: teal;
}

#Amount{
    font-size: 23px;
    margin-left: 0.1rem;
}

.BillHolder{
    position: relative;
    width: 95%;
    height: 50%;
    left: 2%;
    margin-top: 1rem;
    background: transparent;
}

.Button{
    background: teal;
    width: 38%;
    height: 105px;
    margin: 5% 5%;
    display: inline-table;
}

.LeftedIcon{
    width: 25px;
    margin-left: 0.5rem;
}