.Header{
    position: relative;
    border: none;
}

.SearchInput{
    width: 75%;
    border: 1px solid #cdcdcd20;
    padding: 1%;
    border-radius: 10px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

.NewButton{
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 0.5rem;
    width: 50px;
    background: forestgreen;
    height: 32px;
}

.MyData{
    width: 98%;
    position: relative;
    height: 100px;
    background: #cdcdcd10;
    left: 1%;
    border-radius: 10px;
}

.MyContacts{
    top: 25%;
    overflow-y: auto;
    width: 98%;
    left: 1%;
    bottom: 10px;
    background: #cdcdcd10;
    border-radius: 5px;
}

.HomeUserImage{
    position: absolute;
    width: 20%;
    margin-left: 0.5rem;
    top: 10%;
}

.HomeUserName{
    margin-left: 1rem;
}

.MoreUserDetail{
    background: transparent;
    width: 40%;
    right: 25%;
    height: 50px;
    bottom: 0;
    top: auto;
    display: inline-flex;
    margin-bottom: 0.2rem;
}

.UserMoreIcon{
    position: absolute;
    transform: rotate(180deg);
    right: 2%;
    top: 20%;
    padding: 3%;
    background: #cdcdcd10;
    border-radius: 100px;
}

.RightText{
    margin-right: 1rem;
    margin-top: auto;
    margin-left: auto;
    margin-bottom: auto;
    font-size: 18px;
}

.ContactDiv{
    top: 55px;
    overflow-y: auto;
    background: transparent;
}

.CreateImageHodler{
    position: relative;
    background-color: #cdcdcd10;
    height: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 98%;
    left: 1%;
    border-radius: 5px; 
    border: 1px solid #cdcdcd20;
}

.Usericon{
    width: 100%;
    height: auto;
    object-fit: cover;
}