.HomeDiv{
    overflow-y: auto;
}

.ProjectDiv{
    overflow-y: auto;
    top: 50px;
}

.Header{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 1rem;
    margin-left: auto;
    font-size: 16px;
}

.TableHolder{
    position: relative;
    width: 95%;
    height: 50px;
    background: transparent;
    margin:2%;
    display: inline-flex;
    border: 1px solid #cdcdcd50;
}

.NameApp{
    position: absolute;
    top: 0;
    font-size: 16px;
    margin-top: 0.5rem;
    margin-left: 0.2rem;
    margin-right: auto;
    margin-bottom: auto;
    color: teal;
}

.Images{
    position: absolute;
    right: 0.5rem;
    margin-top: 0.5rem;
}

.Images1{
    position: absolute;
    right: 4rem;  
    margin-top: 0.5rem;
}

.ProjectDivS{
    overflow-y: auto;
    top: 50px;
}
.ProjectDvS{
    overflow-y: auto;
}