#FixedButton{
    width: 50px;
    position: absolute;
    right: 5%;
    border-radius: 50px;
    bottom: 50px;
    left: auto;
    display: inline-flex;
}

.HomeDiv{
    background: transparent;
    overflow-y: auto;
}

.UploadDiv{
    top: 51px;
    overflow-y: auto;
}

.Input{
    border: 1px solid #80808030;
    background: transparent;
    border-radius: 10px;
    padding: 1%;
    margin-top: 0.6rem;
    width: 93%;
}

.Imaged{
    background: transparent;
    width: 95%;
    max-height: 50%;
    left: 2%;
}

.MovieDivs{
    position: relative;
    width: 95%;
    height: 100px;
    margin: 2%;
    display: inline-flex;
    background: #121212;
}

.MovieImage{
    position: absolute;
    margin-left: 0rem;
    object-fit: cover;
    width: 150px;
    height: 100px;
}

.MovieName{
  position: absolute;
  top: 0.1%;
  right: 5%;
  color: teal;
}

.MoviesSections{
    text-align: right;
    margin-right: 1rem;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
}